@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Jost", sans-serif;

  margin: 7em 0;
  background: #f2f2f2;
}

#root {
  display: flex;
  height: 100vh;
  width: 100%;
  justify-content: center;
}

#root div {
  /* width: 100%; */
  /* margin: 0 auto; */
}

a {
  text-decoration: none;
  color: #333;
}

@media screen and (max-width: 600px) {
  body {
    margin: 0;
  }
}
